name: ⚠

on: [push, repository_dispatch, workflow_dispatch]

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
      - name: Annotate ✒
        run: |
          echo "::warning::<a href='https://example.com'>test</a>"
